* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #a1132b;
    color: rgb(190, 85, 85);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 15%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}